*.class
*.jar
*.log
.DS_Store
*.iml
.gradle
.idea
out
build

php/phpunit/vendor
php/phpunit/composer.lock

node_modules

# dhatの計測結果
dhat-heap.json

# ログファイル
rust/crate-rust-protobuf/person.log

# source-based coverage
# https://github.com/mozilla/grcov#example-how-to-generate-source-based-coverage-for-a-rust-project
default.profraw
*.profdata
